.vali-input {
  width: 140px;
  min-width: 50px;
  padding: 15px 10px 10px 20px;
  font-family: 'Josefin Sans', serif;
  font-size: 15px;
  color: #030e51;
  background-color: #d6e4f2;
  border: none;
  outline: none;
  border-radius: 20px;
}

.gap {
  margin: 0.3rem;
  font-size: 1.3rem;
}

.check-btn {
  min-width: 100px;
  height: 35px;
  background-color: #030e51;
  color: #fff;
  border: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  border-radius: 6px;
  outline: none;
  cursor: pointer;
}

.check-btn i {
  margin-right: 6px;
}